<!DOCTYPE html>
<html>
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type">
    <title>{% block title %}Administration{% endblock %}</title>

    {% block css %}
        <link href="{{ asset('/bundles/msicontent/css/theme.css') }}" media="all" type="text/css" rel="stylesheet" />
        <link href="{{ asset('/bundles/msicontent/css/style.css') }}" media="all" type="text/css" rel="stylesheet" />
        <link href="{{ asset('/bundles/msicontent/css/theme4.css') }}" media="all" type="text/css" rel="stylesheet" />
        <!--[if IE]>
          <link href="{{ asset('/bundles/msicontent/css/ie-sucks.css') }}" media="all" type="text/css" rel="stylesheet" />
        <![endif]-->
    {% endblock %}

    {% block top_js %}
      <script src="{{ asset('/bundles/msicontent/js/jquery.js') }}"></script>
      <script src="{{ asset('/bundles/msicontent/js/tablesorter.js') }}"></script>
      <script src="{{ asset('/bundles/msicontent/js/app.js') }}"></script>
    {% endblock %}
</head>
<body>
  <div id="container">
    <div id="header">
      <h2>Msi Cms</h2>
      {% block topmenu %}
        <div id="topmenu">
          <ul>
            <li><a href="{{ path('page') }}">Page</a></li>
          </ul>
        </div>
      {% endblock %}
      <div id="top-panel">
      <div id="panel">
      <ul>
      {% block toppanel %}
        
      {% endblock %}
      </ul>
      </div>
      </div>
    </div>

    <div class="wrapper">
      <div id="content">
          {% block content %}
          {% endblock %}
      </div>
      <div id="sidebar">
        {% block sidebar %}
        {% endblock %}
      </div>
    </div>

    <div id="footer">
        {% block footer %}
          &copy; 2011 Groupe MSI
        {% endblock %}
    </div>
  </div>
  {% block bottom_js %}
  {% endblock %}
</body>
</html>