<!DOCTYPE html>
<html>
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type">
    <title>{% block title %}Administration{% endblock %}</title>

    {% block css %}
    <link href="{{ asset('/bundles/msicontent/css/reset.css') }}" media="all" type="text/css" rel="stylesheet" />
        <link href="{{ asset('/bundles/msicontent/css/960.css') }}" media="all" type="text/css" rel="stylesheet" />
        <link href="{{ asset('/bundles/msicontent/css/superfish.css') }}" media="all" type="text/css" rel="stylesheet" />
        <link href="{{ asset('/bundles/msicontent/css/style.css') }}" media="all" type="text/css" rel="stylesheet" />
        <!--[if IE]>
          <link href="{{ asset('/bundles/msicontent/css/ie-sucks.css') }}" media="all" type="text/css" rel="stylesheet" />
        <![endif]-->
    {% endblock %}

    {% block top_js %}
      <script src="{{ asset('/bundles/msicontent/js/jquery.js') }}"></script>
      <script src="{{ asset('/bundles/msicontent/js/tablesorter.js') }}"></script>
      <script src="{{ asset('/bundles/msicontent/js/app.js') }}"></script>
    {% endblock %}
</head>
<body>

    <div id="header">
        <div class="container_12">
            <div class="grid_12">
                <h2 style="background:#212121;float:left;padding:10px;margin:10px;">Groupe MSI</h2>
            </div>
            <div class="grid_12">
                <ul id="menu" class="box sf-menu">
                    {% block menu %}
                        <li><a href="{{ path('page') }}">Users</a></li>
                        <li><a href="{{ path('page') }}">Content</a>
                            <ul>
                                <li><a href="{{ path('page') }}">Pages</a>
                                {% if is_granted('ROLE_ADMIN') %}
                                    <li><a href="{{ path('page_category') }}">Categories</a>
                                    <li><a href="{{ path('layout') }}">Layouts</a>
                                {% endif %}
                            </ul>
                        </li>             
                    {% endblock %}
                </ul>
            </div>
        </div>
    </div>

    <div id="content">
        <div class="container_12">
            <div class="grid_12">
                <div class="box fat">
                    {% block content %}
                    {% endblock %}
                    {% block sidebar %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>

    <div id="footer">
        <div class="container_12">
            <div class="grid_12">
                <div class="box fat">
                    {% block footer %}
                        <p class="box">&copy; 2011 Groupe MSI</p>
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>

  {% block bottom_js %}
  {% endblock %}
</body>
</html>