<!DOCTYPE html>
<html>
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type">
    <title>{% block title %}Administration{% endblock %}</title>

    {% block css %}
        <link href="{{ asset('/bundles/msicontent/css/reset.css') }}" media="all" type="text/css" rel="stylesheet" />
        <link href="{{ asset('/bundles/msicontent/css/style.css') }}" media="all" type="text/css" rel="stylesheet" />
    {% endblock %}

    {% block top_js %}
      <script src="{{ asset('/bundles/msicontent/js/jquery.js') }}"></script>
      <script src="{{ asset('/bundles/msicontent/js/tablesorter.js') }}"></script>
      <script src="{{ asset('/bundles/msicontent/js/app.js') }}"></script>
    {% endblock %}
</head>
<body>
  <div id="container">
  
  <div id="header">
    
  </div>

  {% block top_navigation %}
    <a href="{{ path('page') }}">Page</a>
  {% endblock %}

  <div class="container">
    <div id="content" class="container_12">
        {% block content %}
        {% endblock %}
    </div>
    
    <div id="footer" class="container_12">
        {% block footer %}
        {% endblock %}
    </div>
  </div>
  </div>
  {% block bottom_js %}
  {% endblock %}
</body>
</html>