<!DOCTYPE html>
<html>
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type">
    <title>{% block title %}Administration{% endblock %}</title>

    {% block css %}
        <link href="{{ asset('/bundles/msicontent/css/reset.css') }}" media="all" type="text/css" rel="stylesheet" />
        <link href="{{ asset('/bundles/msicontent/css/960.css') }}" media="all" type="text/css" rel="stylesheet" />
        <link href="{{ asset('/bundles/msicontent/css/style.css') }}" media="all" type="text/css" rel="stylesheet" />
        <link href="{{ asset('/bundles/msicontent/css/theme4.css') }}" media="all" type="text/css" rel="stylesheet" />
        <!--[if IE]>
          <link href="{{ asset('/bundles/msicontent/css/ie-sucks.css') }}" media="all" type="text/css" rel="stylesheet" />
        <![endif]-->
    {% endblock %}

    {% block top_js %}
      <script src="{{ asset('/bundles/msicontent/js/jquery.js') }}"></script>
      <script src="{{ asset('/bundles/msicontent/js/tablesorter.js') }}"></script>
      <script src="{{ asset('/bundles/msicontent/js/app.js') }}"></script>
    {% endblock %}
</head>
<body>
    <div class="container_12">

        <div id="header" class="grid_12">
            <h2>Msi Cms</h2>
        </div>
        <ul id="menu" class="grid_12">
            {% block topmenu %}
                <li><a href="{{ path('page') }}">Users</a></li>
                <li><a href="{{ path('page') }}">Content</a></li>             
            {% endblock %}
        </ul>
        <ul class="top-panel grid_12">
            {% block toppanel %}
                <li><a class="page" href="{{ path('page') }}">Page</a></li>
                <li><a class="page" href="{{ path('page') }}">Category</a></li>
                <li><a class="page" href="{{ path('page') }}">Layout</a></li>
            {% endblock %}
        </ul>

        <div id="content" class="grid_9">
            <div class="box">
                {% block content %}
                {% endblock %}
            </div>
        </div>

        <div id="sidebar" class="grid_3">
            <div class="box">
                {% block sidebar %}
                    ff
                {% endblock %}
            </div>
        </div>

        <div id="footer" class="grid_12 box">
            {% block footer %}
                &copy; 2011 Groupe MSI
            {% endblock %}
        </div>

    </div>
  {% block bottom_js %}
  {% endblock %}
</body>
</html>