{% extends 'MsiCoreBundle:admin:skeleton.html.twig' %}

{% block content %}
  <div class="toolbar">
    <ul>
      <li><a href="{{ path('page_new') }}">
        <span class="icon-32-add"></span>
        New
      </a></li>

      <li><a href="#" onclick="submitForm('edit')">
        <span class="icon-32-pencil"></span>
        Edit
      </a></li>

      <li><a href="#" onclick="submitForm('publish')">
        <span class="icon-32-accept"></span>
        Publish
      </a></li>

      <li><a href="#" onclick="submitForm('unpublish')">
        <span class="icon-32-accept_grey"></span>
        Unpublish
      </a></li>

      <li><a href="#" onclick="submitForm('delete')">
        <span class="icon-32-delete"></span>
        Delete
      </a></li>
    </ul>
  </div>
  <h1>Pages</h1>
  <div class="clear"></div>

  <form id="filterForm" class="filter" action="{{ path('filter', {'return_route' : 'page'}) }}" method="POST">
    <fieldset>
      <div class="left">
        Filters:
      </div>
      <div class="field">
        <label>Status: </label>
        <select class="medium" onchange="this.form.submit()" name="filters[status]">
          <option selected="selected" value="-1">All</option>
          <option {% if session.get('filters').status is defined and session.get('filters').status == 1 %} selected="selected" {% endif %} value="1">Published</option>
          <option {% if session.get('filters').status is defined and session.get('filters').status == 0 %} selected="selected" {% endif %} value="0">Unpublished</option>
        </select>
      </div>
      <div class="field">
        <label>Category: </label>
        <select class="medium" onchange="this.form.submit()" name="filters[page_category_id]">
          <option selected="selected" value="-1">All</option>
          {% for row in pageCategories %}
            <option {% if session.get('filters').page_category_id is defined and session.get('filters').page_category_id == row.id %} selected="selected" {% endif %} value="{{ row.id }}">{{ row.name }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="field">
        <label>Author: </label>
        <select class="medium" onchange="this.form.submit()" name="filters[user_id]">
          <option selected="selected" value="-1">All</option>
          {% for row in users %}
            <option {% if session.get('filters').user_id is defined and session.get('filters').user_id == row.id %} selected="selected" {% endif %} value="{{ row.id }}">{{ row.username }}</option>
          {% endfor %}
        </select>
      </div>
      <a class="btn left" href="{{ path('reset_filter', {'return_route' : 'page'}) }}">Reset</a>
    </fieldset>
  </form>

  <script>
    $(document).ready(
      function() { 
        $("#my-table").tablesorter( {sortList: [[2,0]]} ); 
      } 
    );
  </script>

  <form id="adminForm" class="filter" action="{{ path('page_batch') }}" method="POST">
    <fieldset>
      <input id="batch-action" type="hidden" name="batch_action" value="" />
      <table id="my-table">
        <thead>
          <tr>
          <th><input onclick="checkAll(this)" type="checkbox" /></th>
          <th>ID</th>
          <th>Title</th>
          <th>Status</th>
          <th>Category</th>
          <th>Created by</th>
          <th>Date</th>
          </tr>
        </thead>
        <tbody>
          {% for row in paginator %}
            <tr>
            <td><input type="checkbox" value="{{ row.id }}" name="ids[]" /></td>
            <td>{{ row.id }}</td>
            <td class="text-left">{{ row.title }}</td>
            <td>
            {% if row.status %}
              <img src="{{ asset('/bundles/msicore/images/fatcow/16/accept.png') }}" alt="published" />
              <span class="hidden">1</span>
            {% else %}
              <img src="{{ asset('/bundles/msicore/images/fatcow/16/accept_grey.png') }}" alt="unpublished" />
              <span class="hidden">0</span>
            {% endif %}
            </td>
            <td>{{ row.pageCategory.name }}</td>
            <td>{{ row.user.username }}</td>
            <td>{{ row.updated|date('d-m-Y') }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </fieldset>
  </form>
  {{ paginator|paginate }}
  <form class="filter" action="{{ path('limit', {'return_route' : 'page'}) }}" method="POST">
  {% include 'MsiCoreBundle:Form:limit.html.twig' %}
{% endblock %}